<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sidetalk" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="https://img.icons8.com/color/96/speech-bubble-with-dots.png">

    <!-- Semantic UI -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="app-body">

    <div class="ui inverted menu top-nav">

      <div class="ui container">

        <a class="header item">
          <i class="comments icon"></i>
          Sidetalk
        </a>

        <div class="right menu computer only">

          <a class="item">Chatrooms</a>
          <a class="item">Messages</a>

          <div class="ui simple dropdown item">
            <i class="user circle icon"></i>
            Account
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Profile</a>
              <a class="item">Logout</a>
            </div>
          </div>

          <div class="item">
            <a href="/signup" class="ui inverted button">Sign Up</a>
          </div>

          <div class="item">
            <a href="/login" class="ui primary button">Login</a>
          </div>

        </div>

        <div class="right menu mobile only">
          <a class="item" id="mobile-menu-toggle">
            <i class="sidebar icon"></i>
          </a>
        </div>

      </div>
    </div>

    <div class="ui vertical inverted sidebar menu" id="mobile-sidebar">

      <a class="item">Chatrooms</a>
      <a class="item">Messages</a>
      <a class="item">Profile</a>
      <a class="item">Logout</a>

      <div class="item">
        <a href="/signup" class="ui fluid inverted button">Sign Up</a>
      </div>

      <div class="item">
        <a href="/login" class="ui fluid primary button">Login</a>
      </div>

    </div>

    <div class="pusher">

      <main class="main-content">
        <%= yield %>
      </main>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>

    <script>
      document.addEventListener("turbo:load", function () {

        $('.ui.dropdown').dropdown();

        $('#mobile-menu-toggle').on('click', function () {
          $('#mobile-sidebar')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('toggle');
        });

      });
    </script>

  </body>
</html>